<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
<% end %>

<%= render partial: "movies/form", locals: {movie: @movie}%>


